
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/hello.css">
        <title>
            Hello
        </title>
    </head>
    <body>
        <div> 
            <h1>Hello {{ .title | safe }}!</h1>
        </div>
    </body>
</html>