<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>
            {{ . }} 
        </title>
    </head>
    <body>
        <div> 
            {{ . }} 
        </div>
    </body>
</html>